* {
    margin: 0;
    padding: 0;

}

.rr{
	width:1488px;
	height:738px;
}
.pp{
	position: absolute;
	top: 20px;
	left:33%;
	font-size: 70px;
	color: #FFFFFF;
}
.oo{
	position: absolute;
	top: 610px;
	left:44%;
	font-size: 24px;
	color:#DC6200;
}

.t1,.t2,.t3,.t4{
	width: 165px;
	height:165px;
}

.t1{
	left:35%;
	top:30%;
	position: absolute;
}
.no1{
	left:17%;
	top:53%;
	position: absolute;
	color: #0C00EA;
}
.no2{
	left:37%;
	top:53%;
	position: absolute;
	color: #0C00EA;
}
.no3{
	left:57%;
	top:53%;
	position: absolute;
	color: #0C00EA;
}
.no4{
	left:77%;
	top:53%;
	position: absolute;
	color: #0C00EA;
}

.t2{
	left:15%;
	top:30%;
	position: absolute;
}

.t3{
	left:55%;
	top:30%;
	position: absolute;
}
.t4{
	left:75%;
	top:30%;
	position: absolute;
}
